<% if current_user %>
<h1>Welcome, <%= current_user.name %></h1>
<a href="/users/<%= current_user.id %>/edit">Edit Profile</a>
<% end%>

<p><%= flash[:errors] %></p>
		<h4>New Secret</h4>
			<form action="<%= secrets_create_path %>" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
				<p><textarea name="Content"></textarea></p>
				<input type="submit" value="Create Secret">
			</form>

            <br>

            <% @mysecrets.each do |mysecret| %>
			<table class="table striped-table">
				<tr>
				<td><%= mysecret.content %></td>
		  		<td><form action="/secrets/<%= mysecret.id %>/destroy" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="submit" name="delete" value="Delete Secret">
				</form></td>
				</tr>
			<% end %>
			</table>