<% @secrets.each do |secret| %>
	<table class="table table-striped">
		<tr><td><%= secret.content %></td>
		<% if current_user == secret.user %>
		<td><form action="/secrets/<%= secret.id %>/destroy" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="submit" name="delete" value="Delete Secret">
		</form></td>
		<% end %>
	</tr>
	<tr>
		<td><%= secret.likes.count %> likes</td>
			<% unless secret.users.include?(current_user) %>
					<td><form action="likes/<%= secret.id %>/create" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="submit" name="create" value="Like">
					</form>
					</td>
				<% else %>
				<td><form action="likes/<%= Like.where(user: current_user, secret: secret).first.id%>/destroy" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="submit" name="create" value="Unlike">
					</form>
					</td>
				<% end %>
		</tr>
	<% end %>
	</table>